<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity
            android:name=".NutritionReaderActivity"
            android:exported="false"
            android:label="@string/title_activity_nutrition_reader"
            android:theme="@style/Theme.NutrionLabelReader" />
    </application>

</manifest>